[Unit]
Description=GCP Pub Watcher
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/mxmcoursey/gcp_forkPyThenSendPub/pubwatch_executor.py

[Install]
WantedBy=multi-user.target
